.epg__channels
{
    margin-top: 24px;
    display: block;
    position: absolute;
    left: 0;
    width: 80px;
}

.epg__channel
{
    position: relative;
    display: table;
    width: 80px;
    height: 80px;
}

.epg__channel--expanded
{
    height: 240px;
}

.epg__channel-image
{
    display: table-cell;
    vertical-align: middle;
    width: 80px;
    height: 80px;
}

.epg__channel-image > img
{
    max-width: 80px;
    max-height: 80px;
}