<style src="./Channels.css"></style>
<template>
    <div class="epg__channels">
        <div v-for="c in channels"
             :class="[
              'epg__channel', {
              'epg__channel--expanded': c._isSelected
              }]">
            <div class="epg__channel-image">
                <img :src="c.image || emptyImageUrl" alt="c.title"/>
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    name: 'epg-channels',
    props: ['channels', 'emptyImageUrl']
  }
</script>
