.epg__btn--day.epg__btn--left
{
    left: 85px;
}

.epg__btn--day.epg__btn--disabled
{
    opacity: .3;
    pointer-events: auto;
}

.epg__days-wrap
{
    position: relative;
    text-align: center;
    min-height: 16px;
    margin: 30px 0 30px 0;
}

.epg__days
{
    background: red;
    display: inline-block;
    position: absolute;
    left: 150px;
    right: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    padding: 5px 0;
}

.epg__days-inner
{
    transition: transform 0.3s ease-in-out;
}

.epg__day
{
    position: relative;
    display: inline-block;
    background-color: #E9E9E9;
    padding: 5px;
    margin: 0 10px;
    vertical-align: middle;
}

.epg__day--selected
{
    background-color: #666666;
}


.fade--delay-enter-active, .fade--delay-leave-active
{
    transition: opacity .2s linear 0.3s;
}

.fade-enter, .fade-leave-to
{
    opacity: 0;
}