.epg__slot-more-info
{
    padding: 15px;
    position: absolute;
    left: 0;
    right: 0;
    height: 160px;

    transition: all 0.3s linear;
}

.epg__slot-title
{
    font-weight: bold;
}

.epg__slot-description
{
    margin-top: 10px;
    width: 100%;
    white-space: normal;
}

.epg__slot-suitability-image > img
{
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
}

.epg__slot-duration, .epg__slot-category
{
    display: inline-block;
    vertical-align: middle;
}

.epg__icon--close {
    font-size: 30px;
}

.epg__btn--close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
}


.fade--area-delay-enter-active, .fade--area-delay-leave-active
{
    transition: opacity .3s linear 0.5s;
}

.fade--area-enter, .fade--area-leave-to
{
    opacity: 0;
}
