<style src="./SelectedSlot.css"></style>
<template>
    <div>
        <transition name="fade">
            <div class="loader__spinner-container epg__loader epg__loader--program" v-if="showProgramLoader">
                <div class="loader__spinner"></div>
            </div>
        </transition>

        <transition name="fade--area">
            <div class="epg__slot-inner" v-if="!showProgramLoader">
                <h3 class="epg__slot-title">{{selectedProgram.title}}</h3>

                <div class="epg__slot-subheader">
                    <span class="epg__slot-suitability-image"><img :src = selectedProgram.suitabilityImg /></span>
                    <span class="epg__slot-separator"> | </span>
                    <span class="epg__slot-duration">{{selectedProgram.duration}}</span>
                    <span class="epg__slot-separator"> | </span>
                    <span class="epg__slot-category">{{selectedProgram.category}}</span>
                </div>

                <p class="epg__slot-description">{{selectedProgram.description}}</p>
                <a class="epg__link epg__link--more" href="#">
                   {{moreLabel}}
                </a>

                <div class="epg__btn epg__btn--close" v-on:click="closeSlot()">
                    <svg class="epg__icon epg__icon--close">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
                    </svg>
                </div>

            </div>
        </transition>
    </div>
</template>

<script>
  export default {
    name: 'epg-selected-slot',
    props: ['showProgramLoader', 'selectedProgram', 'moreLabel', 'closeSlot']
  }
</script>
