<template>
  <div>
    <div class="timeline-wrapper">

      <div
        class="timeline"
        draggable="true"
        @drag="onDragMove"
        @touchmove="onDragMove"
        @dragstart="onDragStart"
        @touchstart="onDragStart">

        <div j
          class="inner"
          :style="styles"
          ref="timeline">

          <!-- Time indicator -->
          <div class="times timeslots">
            <div class="now-time-label"
              :style="'left:'+_getOffsetByTime(currentTime)+'px'">{{now_label}}</div>
            <div
              v-for="d in slotsByMinutes"
              class="timeslot"
              :style="`width:${pixelsPerMinute * 30}px`">
              {{d}}
            </div>
          </div>

          <div v-for="ch in channels" class="timeslots">
            <div
              :class="[
              'timeslot',
              'slot-event', {
              'is-empty': n._emptySlot,
              'no-padding': n._duration < 4,
              'is-before': n._isBeforeNow && !n._isLive,
              'is-live': n._isLive
              }]"
              v-for="n in ch.slots"
              @click="onSlotClick(n)"
              :style="`width:${pixelsPerMinute * n._duration}px!important`">
              <div v-if="n._duration > 4" v-html="n._start.format('LT')"></div>
              <div v-if="n._duration > 4" >{{n.content}}</div>
              <div v-if="n._isLive" class="now-line" :style="'width: '+n._nowLineOffset+'px'"> </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import MomentIterator from 'moment-iterator'

export default {
  created () {
    window.goto = this.goto
    window.getStartTime = this.getStartTime
    window.moment = moment
    window.nextPage = this.nextPage
    window.previousPage = this.previousPage
    window.now = this.now
    window.slotInterpolation = this._slotInterpolation
    this.slotsByMinutes = MomentIterator(moment(this.startTime.format()), moment(this.endTime.format())).range('30 minutes', {format: 'LT'})
    // live currentTime
    const self = this
    setInterval(() => { self.currentTime = moment() }, 5000)
  },
  mounted () {
    this.now()
  },
  data () {
    return {
      containerPos: 0,
      move: 0,
      startTime: moment().startOf('day').add(0, 'hours').add(0, 'minutes'),
      pixelsPerMinute: 8,
      emptySlotContent: 'Off air',
      timelineDurationHours: 24,
      currentTime: moment(),
      now_label: 'now'
    }
  },
  computed: {
    styles () {
      return {
        transform: `translate(${this.containerPos}px, 0)`
      }
    },
    endTime () {
      return moment(this.startTime).add(this.timelineDurationHours, 'hours')
    },
    channels () {
      return [{
        name: 'Channel 4',
        logo: 'http://static.c4assets.com/epg/1.0.609/img/icon-ch-c4.svg',
        slots: this._prepareSlots([{
          start: '2017-06-21 02:00',
          end: '2017-06-21 02:30',
          content: 'test 3'
        }, {
          start: '2017-06-21 14:00',
          end: '2017-06-21 14:20',
          content: 'test 1'
        }, {
          start: '2017-06-21 14:30',
          end: '2017-06-21 15:00',
          content: 'test 12'
        }, {
          start: '2017-06-21 12:00',
          end: '2017-06-21 12:30',
          content: 'test 2'
        }])
      }]
    }
  },
  methods: {
    onSlotClick (slot) {
      this._adjustSlot(slot)
      return false
    },
    /*
     * Adjust slot withing vieport visible boundaries,
     * Depending on where the slot is located adjust either from the left or
     * from the right so that the whole slot will be visible
     */
    _adjustSlot (slot) {
      // Do nothing on empy slots
      if (slot._emptySlot) return false

      // When slot's range exceeds start + end time
      // Adjust slot on it's start time (left)
      if (slot._start.format('X') < this.getStartTime().format('X') &&
          slot._end.format('X') > this.getEndTime().format('X')) {
        this.goto(slot._start.format('HH:mm'))
        return
      }

      // Make whole slot visible from the left
      if (slot._start.format('X') < this.getStartTime().format('X') &&
          slot._end.format('X') > this.getStartTime().format('X')) {
        let timespan = Math.abs(moment.utc(this.getStartTime().diff(slot._start)).format('mm'))
        let newOffset = this.getStartTime().subtract(timespan, 'minutes').format('HH:mm')
        this.goto(newOffset)
        return
      }

      // Make whole slot visible from the right
      if (slot._start.format('X') < this.getEndTime().format('X') &&
          slot._end.format('X') > this.getEndTime().format('X')) {
        let timespan = Math.abs(moment.utc(slot._end.diff(this.getEndTime())).format('mm'))
        let newOffset = this.getStartTime().add(timespan, 'minutes').format('HH:mm')
        this.goto(newOffset)
        return
      }
    },
    /*
     * Dragstart & touchstart handler
     * Set initial required data (start position, and disable drag image)
     */
    onDragStart (e) {
      this.mouseStartPos = (e.targetTouches) ? e.targetTouches[0].clientX : e.clientX
      if (!e.targetTouches) e.dataTransfer.setDragImage(new Image(), 0, 0)
    },
    /*
     * Main horizontal drag and touchmove handler
     */
    onDragMove (e) {
      // Get the left offset of the mouse drag (depending touch or desktop)
      this.mousePos = (e.targetTouches) ? e.targetTouches[0].clientX : e.clientX
      let previousMove = this.move
      this.move = -(this.mouseStartPos - this.mousePos)

      // Prevent drag's sudden change on last move
      let diff = ((this.move - previousMove) / this.move) * 100
      if (Math.abs(diff) > 5) return

      // Apply new positions
      this.containerPos += this.move
      this.mouseStartPos = this.mousePos
      this._applyConstrains()
    },
    /*
     * Given time input,
     * get container's new offset in pixels
     * @params time {Object} Momentjs object
     */
    _getOffsetByTime (time) {
      let self = this
      let timestamp = time.format('X')
      let pixels = 0
      MomentIterator(this.startTime, this.endTime).each('1 minutes', (d) => {
        pixels = (d.format('X') <= timestamp) ? pixels + self.pixelsPerMinute : pixels
      })
      return pixels
    },

    /*
     * Limit movement in provided day range
     */
    _applyConstrains () {
      const self = this

      // At the beginning (left end)
      if ((this.containerPos + this.move) > 40) {
        setTimeout(() => { self.containerPos = 0 }, 50)
        setTimeout(() => { self.containerPos = 0 }, 100)
      }
      // At the end (right end)
      let endOffset = Math.abs(this.containerPos - this.$refs.timeline.offsetWidth)
      let fullRangeWidth =
        ((moment(this.endTime).diff(this.startTime) / 60) / 1000) * this.pixelsPerMinute
      if (fullRangeWidth < endOffset) {
        setTimeout(() => {
          self.containerPos = -fullRangeWidth + this.$refs.timeline.offsetWidth
        }, 10)
      }
    },
    /*
     * Go to current time and center-align it
     */
    now () {
      let visibleRange = (this.$refs.timeline.offsetWidth / this.pixelsPerMinute) / 2
      let newPos = moment().subtract(visibleRange, 'minutes').format('HH:mm')
      this.goto(newPos)
    },
    /*
     * Go to selected slot/time
     */
    goto (time) {
      let datetime = moment(time, ['hh:mm'])
      if (!datetime.isValid()) return console.error('[Error in goto]: invalid date ')
      this.containerPos = -this._getOffsetByTime(datetime)
      this._applyConstrains()
      return this.containerPos
    },
    /*
     * Go to next page.
     * Calculates the range of the visible portion and determines
     * page size/range dynamically.
     */
    nextPage () {
      let visibleRange = this.$refs.timeline.offsetWidth / this.pixelsPerMinute
      let newPos = this.getStartTime().add(visibleRange, 'minutes')
      this.goto(newPos.format('HH:mm'))
    },
    /*
     * Go to previous page.
     * Calculates the range of the visible portion and determines
     * page size/range dynamically.
     */
    previousPage () {
      let visibleRange = this.$refs.timeline.offsetWidth / this.pixelsPerMinute
      let newPos = this.getStartTime().subtract(visibleRange, 'minutes')
      // Don't loop
      if (this.getStartTime().format('HH') < newPos.format('HH')) newPos = this.startTime
      this.goto(newPos.format('HH:mm'))
    },
    /*
     * Get the visible start time
     */
    getStartTime () {
      let ppm = this.pixelsPerMinute
      let timePast = Math.abs(((this.containerPos + ppm) / ppm) / 60)
      return moment(this.startTime.format()).add(timePast, 'hours')
    },
    /*
     * Get the visible end time
     */
    getEndTime (time) {
      let visibleRange = this.$refs.timeline.offsetWidth / this.pixelsPerMinute
      return moment(this.getStartTime().format()).add(visibleRange, 'minutes')
    },
    /*
     * Prepare slots
     * Sort, Validate, Interpolate
     */
    _prepareSlots (slots) {
      // TODO: Validate slots (overlapping slots etc)
      this._sortSlots(slots)
      return this._slotInterpolation(slots)
    },
    /*
     * Fill with empty slots
     * Given timeslots with durations, interpolate with empty timeslots where necessary
     * The output will be a full 24hour list of slots with no empty space in between
     */
    _slotInterpolation (slots) {
      let previousTime = moment(this.startTime)
      let endTime = moment(this.endTime)
      let output = []
      slots.forEach((s) => {
        let slot = this.prepareSlot(s)

        // Cutting slots at the begining
        if (slot._start.format('X') < this.startTime.format('X')) {
          // Cut slot to adjust to day's start time
          if (slot._end.format('X') > this.startTime.format('X')) {
            slot.start = this.startTime.format()
            slot = this.prepareSlot(slot)
          } else {
            // Slot started and ended before startTime, remove it
            slot._outdated = true
          }
        }

        let timespan = Math.abs(moment.utc(slot._start.diff(previousTime)).format('H.mm'))
        if (timespan > 0 && previousTime < slot._start) {
          output.push(this._createEmptySlot(previousTime.format(), slot._start.format()))
        }

        if (!slot._outdated) {
          previousTime = slot._end
          output.push(slot)
        }
      })

      // Add ending slot
      let endspan = moment.utc(endTime.diff(previousTime)).format('H.mm')
      if (endspan > 0) output.push(this._createEmptySlot(previousTime.format(), endTime.format()))
      return output
    },
    /*
     * Sort slots by start time (ascending)
     */
    _sortSlots (slots) {
      return slots.sort((a, b) => {
        return moment(a.start).format('X') - moment(b.start).format('X')
      })
    },
    /*
     * Prepare and create a empty slot object with default values
     */
    _createEmptySlot (start, end) {
      return this.prepareSlot({
        content: this.emptySlotContent,
        start: start,
        end: end,
        _emptySlot: true
      })
    },
    prepareSlot (slot) {
      slot._start = moment(slot.start)
      slot._end = moment(slot.end)
      slot._emptySlot = slot._emptySlot
      slot._duration = Math.abs(((slot._end.diff(slot._start)) / 1000) / 60)
      slot._isLive = parseFloat(this.currentTime.format('X')) > parseFloat(slot._start.format('X')) &&
                      parseFloat(this.currentTime.format('X')) < parseFloat(slot._end.format('X'))
      slot._nowLineOffset = ((this.currentTime.diff(slot._start) / 1000) / 60) * 8
      slot._isBeforeNow = parseFloat(this.currentTime.format('X')) > parseFloat(slot._start.format('X'))
      return slot
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass">

  *
    box-sizing: border-box

  .timeline-wrapper
    margin: 0 auto
    width: 100%
    max-width: 940px
    overflow: hidden
    border: 1px solid #ddd

  .timeslots
    display: block
    white-space: nowrap
    position: relative

  .timeslot
    position: relative
    display: inline-block
    background-color: #ddd
    height: 80px
    box-shadow: 2px 2px 0px #fff inset
    vertical-align: top
    /* margin: 4px 2px 0 2px */

  .times > .timeslot
    margin: 0
    padding-left: 10px
    max-height: 20px
    border-left: 2px solid #fff
    box-shadow: none

  .times > .now-time-label
    position: absolute
    background: #60656c
    width: 40px
    top: 0
    z-index: 1
    color: #fff
    text-align: center
    margin-left: -20px
    height: 20px

  .timeslot.slot-event:not(.is-empty)
    cursor: pointer

  .timeslot.slot-event
    padding: 10px 15px

  .timeslot .now-line
    position: absolute
    top: 2px
    bottom: 0
    left: 2px
    border-right: 2px solid #60656c

  .inner
    -webkit-transform: translate(-0, 0)
    -moz-transform: translate(0, 0)
    -ms-transform: translate(0, 0)
    -o-transform: translate(0, 0)
    transform: translate(0, 0)
    -webkit-transition: -webkit-transform 0.3s ease-in /* Changed here */
    -moz-transition: -moz-transform 1s ease-in
    -o-transition: -o-transform 0.3s ease-in
    transition: transform 0.3s ease-in, -webkit-transform 0.3s cubic-bezier(0.32, 0.14, 0, 1.1)

  .is-empty
    opacity: 0.4

  .no-padding
    padding: 0!important

</style>

