<style src="./Epg.css"></style>
<template>
  <div class="epg" >
    <div class="">
      <!-- Days selection -->
      <Days ref="epgDays"
            @epgSelectDay="selectDay"
            @epgNow="now"
            :now-label="now_label[lang]"
            :selected-date="selectedDate"
            :today-label="today_label[lang]" />

      <!-- Channels info -->
      <Channels ref="epgChannels" :channels="channels" :empty-image-url="emptyImageUrl" />
    </div>

    <!-- Draggable timeline- -->
    <div class="epg__timeline-wrapper">
      <div
        :class="['epg__timeline', {'epg__timeline--notransition' : isGrabbed}]"
        draggable="false"
        @mousemove="onDragMove"
        @touchmove="onDragMove"
        @mousedown="onDragStart"
        @mouseup="onDragEnd"
        @mouseleave="onDragEnd"
        @touchstart="onDragStart">

        <div class="epg__btn epg__btn--left" v-on:click="previousPage()">
          <svg class="epg__chevron">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-left"></use>
          </svg>
        </div>
        <div class="epg__btn epg__btn--right" v-on:click="nextPage()">
          <svg class="epg__chevron">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-right"></use>
          </svg>
        </div>

        <transition name="fade">
          <div class="loader__spinner-container epg__loader" v-if="showLoader">
            <div class="loader__spinner"></div>
          </div>
        </transition>

        <div
          :style="styles"
          :class="['epg__inner', {'epg__inner--notransition' : isGrabbed}]"
          ref="timeline">

          <div class="epg__now-time-label" v-if="showNowElements"
               :style="'left:'+nowOffset"></div>
          <div class="epg__now-time-cover" v-if="showNowElements"
               :style="'width:'+nowOffset"></div>

          <!-- Time indicator -->
          <div class="epg__times epg__timeslots">
            <div
              v-for="d in slotsByMinutes"
              class="epg__timeslot"
              :style="`width:${pixelsPerMinute * 30}px`">
              {{d}}
            </div>
          </div>
          <transition name="fade--area">
          <div  v-if="!showLoader">
          <div v-for="ch in channels"
              :class="[
              'epg__timeslots',
              'epg__channel-row', {
              'epg__channel-row--expanded': ch._isSelected
              }]">
            <div
              :class="[
              'epg__timeslot',
              'epg__slot-event', {
              'is-empty': n._emptySlot,
              'no-padding': n._duration < 4,
              'is-before': n._isBeforeNow && !n._isLive,
              'is-live': n._isLive,
              'epg__timeslot--selected': n._isSelected
              }]"
              v-for="n in ch.slots"
              :style="`width:${pixelsPerMinute * n._duration}px!important`">
              <div class="epg__slot-basic-info"  v-on:click="selectProgram(n)">
                <div v-if="n._duration > 4" >{{n.title}}</div>
                <span v-if="n._duration > 4" v-html="n._start.format('H:mm')"></span>
                -
                <span v-if="n._duration > 4" v-html="n._end.format('H:mm')"></span>
                <!--<div v-if="n._isLive" class="epg__now-line" :style="'width: '+n._nowLineOffset+'px'"> </div>-->
              </div>
              <div v-if="n._isSelected" class="epg__slot-more-info" :style="`left:${-containerPos}px; width:${timelineWidth}px`">
                <SelectedSlot
                        :more-label="more_label[lang]"
                        :close-slot="clearSelectedProgram"
                        :show-program-loader="showProgramLoader"
                        :selected-program="selectedProgram" />
              </div>
            </div>
          </div>
          </div>
          </transition>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import { polyfill } from 'es6-promise'
import moment from 'moment'
import MomentIterator from 'moment-iterator'
import axios from 'axios'
import Days from '../Days/Days'
import Channels from '../Channels/Channels'
import SelectedSlot from '../SelectedSlot/SelectedSlot'

export default {
  name: 'epg',
  components: { Days, Channels, SelectedSlot },
  data () {
    return {
      containerPos: 0,
      move: 0,
      isGrabbed: false,
      lang: 'en',
      showLoader: false,
      showProgramLoader: false,
      showNowElements: false,
      startTime: moment().startOf('day').add(6, 'hours').add(0, 'minutes'),
      pixelsPerMinute: 6,
      emptyImageUrl: 'static/noimage.png',
      getEpgUrl: null,
      getProgramUrl: null,
      emptySlotContent: 'Off air',
      timelineDurationHours: 24,
      currentTime: moment(),
      selectedDate: moment(),
      updateNowInterval: 10000,
      showLoaderInterval: 200,
      isIE: false,
      now_label: {
        en: 'now',
        el: 'τώρα'
      },
      today_label: {
        en: 'Today',
        el: 'Σήμερα'
      },
      more_label: {
        en: 'More',
        el: 'Περισσότερα'
      },
      labelToday: '',
      labelNow: '',
      nowOffset: 0,
      selectedProgram: {},
      timelineWidth: 0,
      channels: []
    }
  },
  created () {
    const self = this
    polyfill()

    this.startTime = this.selectedDate.startOf('day').add(6, 'hours').add(0, 'minutes')
    this.slotsByMinutes = MomentIterator(moment(this.startTime.format()), moment(this.endTime.format())).range('30 minutes', {format: 'HH:mm'})
    this.showNowElements = this.currentTime.isSame(this.selectedDate, 'day')

    // live currentTime
    setInterval(() => { self.currentTime = moment() }, self.updateNowInterval)
  },
  mounted () {
    const self = this
    this.isIE = (typeof document.createElement('span').dragDrop === 'function')
    this.nowOffset = this._getOffsetByTime(this.currentTime) + 'px'
    this.timelineWidth = this.$refs.timeline.offsetWidth

    // this.$refs.epgDays.setUpDays(this.today_label[this.lang])
    this.now()
    // this.$refs.epgDays.recalculate()
    window.addEventListener('resize', self.resizeHandler)
  },
  destroyed () {
    const self = this
    window.removeEventListener('resize', self.resizeHandler)
  },
  watch: {
    lang: function () {
      this.onLanguageChange()
    },
    pixelsPerMinute: function () {
      this.recalculate()
    },
    getEpgUrl: function () {
      this.loadData(moment())
    },
    currentTime: function () {
      this.nowOffset = this._getOffsetByTime(this.currentTime) + 'px'
    },
    selectedDate: function () {
      this.showNowElements = this.currentTime.isSame(this.selectedDate, 'day')
    }
  },
  computed: {
    styles () {
      return {
        transform: `translate(${this.containerPos}px, 0)`
      }
    },
    endTime () {
      return moment(this.startTime).add(this.timelineDurationHours, 'hours')
    }
  },
  methods: {
    recalculate () {
      this.nowOffset = this._getOffsetByTime(this.currentTime) + 'px'
      this.timelineWidth = this.$refs.timeline.offsetWidth

      this.loadData(this.selectedDate)
    },
    /*
     * Adjust slot withing vieport visible boundaries,
     * Depending on where the slot is located adjust either from the left or
     * from the right so that the whole slot will be visible
     */
    _adjustSlot (slot) {
      // Do nothing on empy slots
      if (slot._emptySlot) return false

      // When slot's range exceeds start + end time
      // Adjust slot on it's start time (left)
      if (slot._start.format('X') < this.getStartTime().format('X') &&
        slot._end.format('X') > this.getEndTime().format('X')) {
        this.goto(slot._start)
        return
      }

      // Make whole slot visible from the left
      if (slot._start.format('X') < this.getStartTime().format('X') &&
        slot._end.format('X') > this.getStartTime().format('X')) {
        let timespan = Math.abs(moment.utc(this.getStartTime().diff(slot._start)).format('mm'))
        let newOffset = this.getStartTime().subtract(timespan, 'minutes')
        this.goto(newOffset)
        return
      }

      // Make whole slot visible from the right
      if (slot._start.format('X') < this.getEndTime().format('X') &&
        slot._end.format('X') > this.getEndTime().format('X')) {
        let timespan = Math.abs(moment.utc(slot._end.diff(this.getEndTime())).format('mm'))
        let newOffset = this.getStartTime().add(timespan, 'minutes')
        this.goto(newOffset)
        return
      }
    },
    /*
     * Dragstart & touchstart handler
     * Set initial required data (start position, and disable drag image)
     */
    onDragStart (e) {
      this.isGrabbed = true
      this.mouseDownTimestamp = moment().format('x')
      this.mouseStartPos = (e.targetTouches) ? e.targetTouches[0].clientX : e.clientX
      this.leftBoundary = 0
      this.rightBoundary = (this.slotsByMinutes.length * this.pixelsPerMinute * 30) - this.$refs.timeline.offsetWidth
    },
    /*
     * Dragend handler
     * Set initial required data (start position, and disable drag image)
     */
    onDragEnd (e) {
      this.isGrabbed = false
    },
    /*
     * Main horizontal drag and touchmove handler
     */
    onDragMove (e) {
      e.stopPropagation()
      if (!this.isGrabbed) {
        return false
      }

      if (this.selectedProgram.id && moment().format('x') - this.mouseDownTimestamp > 150) this.clearSelectedProgram()

      // this timeout lets poor IE breathe
      setTimeout(() => {
        // Get the left offset of the mouse drag (depending touch or desktop)
        this.mousePos = (e.targetTouches) ? e.targetTouches[0].clientX : e.clientX
        // let previousMove = this.move
        this.move = -(this.mouseStartPos - this.mousePos)
        // Prevent drag's sudden change on last move
        // let diff = ((this.move - previousMove) / this.move) * 100
        // if (Math.abs(diff) > 5) return

        // Don't exceed the left boundary
        if (this.containerPos + this.move > this.leftBoundary) {
          this.containerPos = this.leftBoundary
          return false
        } else if (Math.abs(this.containerPos + this.move) > this.rightBoundary) {
          // Don't exceed the right boundary
          this.containerPos = -this.rightBoundary
          return false
        }

        // Apply new positions
        this.containerPos += this.move
        this.mouseStartPos = this.mousePos
        // this._applyConstrains()
      }, 1)
    },
    setLanguage (lang) {
      this.lang = lang
    },
    /*
     * Handle language change
     * Change the momentjs locale and recalculate the days part
     */
    onLanguageChange () {
      moment.locale(this.lang)
      this.startTime = this.selectedDate.startOf('day').add(6, 'hours').add(0, 'minutes')
      this.slotsByMinutes = MomentIterator(moment(this.startTime.format()), moment(this.endTime.format())).range('30 minutes', {format: 'HH:mm'})
      this.showNowElements = this.currentTime.isSame(this.selectedDate, 'day')
      // this.$refs.epgDays.setUpDays(this.today_label[this.lang])
      this.$refs.epgDays.recalculate(this.today_label[this.lang])
    },
    /*
     * Given time input,
     * get container's new offset in pixels
     * @params time {Object} Momentjs object
     */
    _getOffsetByTime (time) {
      let self = this
      let timestamp = time.format('X')
      let pixels = 0

      MomentIterator(this.startTime, this.endTime).each('1 minutes', (d) => {
        pixels = (d.format('X') <= timestamp) ? pixels + self.pixelsPerMinute : pixels
      })
      return pixels
    },

    /*
     * Limit movement in provided day range
     */
    _applyConstrains () {
      const self = this

      // At the beginning (left end)
      if ((this.containerPos + this.move) > 40) {
        setTimeout(() => { self.containerPos = 0 }, 50)
      }
      // At the end (right end)
      let endOffset = Math.abs(this.containerPos - this.$refs.timeline.offsetWidth)
      let fullRangeWidth =
        ((moment(this.endTime).diff(this.startTime) / 60) / 1000) * this.pixelsPerMinute

      if (fullRangeWidth < endOffset) {
        setTimeout(() => {
          self.containerPos = -fullRangeWidth + this.$refs.timeline.offsetWidth
        }, 10)
      }
    },
    /*
     * Go to current time and center-align it
     */
    now () {
      let visibleRange = (this.$refs.timeline.offsetWidth / this.pixelsPerMinute) / 2
      let newPos = moment().subtract(visibleRange, 'minutes')
      this.nowOffset = this._getOffsetByTime(this.currentTime) + 'px'

      if (this.selectedDate.isSame(moment(), 'day')) {
        this.goto(newPos)
      } else {
        this.selectDay(moment())
      }
    },
    /*
     * Go to selected slot/time
     */
    goto (time) {
      let datetime = moment(time)
      if (!datetime.isValid()) return console.error('[Error in goto]: invalid date ')
      this.containerPos = -this._getOffsetByTime(datetime)
      // this._applyConstrains()
      return this.containerPos
    },
    /*
     * Go to next page.
     * Calculates the range of the visible portion and determines
     * page size/range dynamically.
     */
    nextPage () {
      let visibleRange = this.$refs.timeline.offsetWidth / this.pixelsPerMinute
      let newPos = this.getStartTime().add(visibleRange, 'minutes')
      let endPos = moment(this.endTime).subtract(visibleRange, 'minutes')

      this.clearSelectedProgram();

      if (newPos.isBefore(endPos)) {
        this.goto(newPos)
      } else {
        this.goto(endPos)
      }
    },
    /*
     * Go to previous page.
     * Calculates the range of the visible portion and determines
     * page size/range dynamically.
     */
    previousPage () {
      let visibleRange = this.$refs.timeline.offsetWidth / this.pixelsPerMinute
      let newPos = this.getStartTime().subtract(visibleRange, 'minutes')
      let startPos = moment(this.startTime)

      this.clearSelectedProgram();

      // Don't loop
      // if (this.getStartTime().format('HH') < newPos.format('HH')) newPos = this.startTime
      // this.goto(newPos)

      if (newPos.isBefore(startPos)) {
        // this.goto(startPos)
        this.containerPos = 0
      } else {
        this.goto(newPos)
      }
    },
    /*
     * Get the visible start time
     */
    getStartTime () {
      let ppm = this.pixelsPerMinute
      let timePast = Math.abs(((this.containerPos + ppm) / ppm) / 60)
      return moment(this.startTime.format()).add(timePast, 'hours')
    },
    /*
     * Get the visible end time
     */
    getEndTime (time) {
      let visibleRange = this.$refs.timeline.offsetWidth / this.pixelsPerMinute
      return moment(this.getStartTime().format()).add(visibleRange, 'minutes')
    },
    /*
     * Prepare slots
     * Sort, Validate, Interpolate
     */
    _prepareSlots (slots) {
      // TODO: Validate slots (overlapping slots etc)
      this._sortSlots(slots)
      return this._slotInterpolation(slots)
    },
    /*
     * Fill with empty slots
     * Given timeslots with durations, interpolate with empty timeslots where necessary
     * The output will be a full 24hour list of slots with no empty space in between
     */
    _slotInterpolation (slots) {
      let previousTime = moment(this.startTime)
      let endTime = moment(this.endTime)
      let output = []
      slots.forEach((s) => {
        let slot = this.prepareSlot(s)

        // Cutting slots at the begining
        if (slot._start.format('X') < this.startTime.format('X')) {
          // Cut slot to adjust to day's start time
          if (slot._end.format('X') > this.startTime.format('X')) {
            slot.startTime = this.startTime.format()
            slot = this.prepareSlot(slot)
          } else {
            // Slot started and ended before startTime, remove it
            slot._outdated = true
          }
        }

        let timespan = Math.abs(moment.utc(slot._start.diff(previousTime)).format('H.mm'))
        if (timespan > 0 && previousTime < slot._start) {
          output.push(this._createEmptySlot(previousTime.format(), slot._start.format()))
        }

        if (!slot._outdated) {
          previousTime = slot._end
          output.push(slot)
        }
      })

      // Add ending slot
      let endspan = moment.utc(endTime.diff(previousTime)).format('H.mm')
      if (endspan > 0) output.push(this._createEmptySlot(previousTime.format(), endTime.format()))
      return output
    },
    /*
     * Sort slots by start time (ascending)
     */
    _sortSlots (slots) {
      return slots.sort((a, b) => {
        return moment(a.startTime).format('X') - moment(b.startTime).format('X')
      })
    },
    /*
     * Prepare and create a empty slot object with default values
     */
    _createEmptySlot (start, end) {
      return this.prepareSlot({
        title: this.emptySlotContent,
        startTime: start,
        endTime: end,
        _emptySlot: true
      })
    },
    prepareSlot (slot) {
      slot._isSelected = false
      slot._start = moment(slot.startTime)
      slot._end = moment(slot.endTime)
      slot._emptySlot = slot._emptySlot
      slot._duration = Math.abs((slot._end.diff(slot._start, 'minutes')))
      slot._isLive = parseFloat(this.currentTime.format('X')) > parseFloat(slot._start.format('X')) &&
                      parseFloat(this.currentTime.format('X')) < parseFloat(slot._end.format('X'))
      slot._nowLineOffset = ((this.currentTime.diff(slot._start) / 1000) / 60) * 8
      slot._isBeforeNow = parseFloat(this.currentTime.format('X')) > parseFloat(slot._start.format('X'))
      return slot
    },
    recalculateNowLine () {
      const self = this
      self.channels = self.channels.map((channel) => {
        const slots = channel.slots
        channel.slots = slots.map((slot) => {
          slot._nowLineOffset = ((this.currentTime.diff(slot._start) / 1000) / 60) * 8
          return slot
        })

        return channel
      })
    },
    /*
     * Close the selected program
     */
    clearSelectedProgram () {
      this.selectedProgram = {}

      this.channels = this.channels.map((channel) => {
        channel.slots.map((slot) => {
          slot._isSelected = false
        })

        channel._isSelected = false
        return channel
      })
    },
    /*
     * Load the selected program
     */
    selectProgram (s) {
      const self = this
      this._adjustSlot(s)

      // this is a hack to distinguish between mousedown for drag / clicking
      if (moment().format('x') - this.mouseDownTimestamp > 150) return false

      // close the slot if the same program has been selected
      if (s.id === this.selectedProgram.id) {
        this.clearSelectedProgram()
        return false
      }

      this.showProgramLoader = true

      this.channels = this.channels.map((channel) => {
        let channelIsSelected = false
        channel.slots.map((slot) => {
          if (slot.id && slot.id === s.id) {
            channelIsSelected = !slot._isSelected
            slot._isSelected = !slot._isSelected
          } else {
            slot._isSelected = false
          }
          return slot
        })

        channel._isSelected = channelIsSelected
        return channel
      })
      axios.get(this.getProgramUrl)
      // axios.get('/external/data/program.json')
      .then(function (response) {
        const programData = {...response.data.program}
        programData.id = s.id

        self.selectedProgram = programData
        setTimeout(() => { self.showProgramLoader = false }, self.showLoaderInterval)
      })
      .catch(() => {
        setTimeout(() => { self.showProgramLoader = false }, self.showLoaderInterval)
      })
    },
    fakeDataGeneration (channelsData) {
      const selectedDate = this.selectedDate
      return channelsData.map((item) => {
        item.programs.map((program) => {
          const startHours = moment(program.startTime).get('hours')
          const startMins = moment(program.startTime).get('minutes')
          const startSecs = moment(program.startTime).get('seconds')

          const endHours = moment(program.endTime).get('hours')
          const endMins = moment(program.endTime).get('minutes')
          const endSecs = moment(program.endTime).get('seconds')

          program.startTime = moment(selectedDate)
          .set({
            hours: startHours,
            minutes: startMins,
            seconds: startSecs
          })
          .format('YYYY-MM-DD HH:mm:ss')

          program.endTime = moment(selectedDate)
          .set({
            hours: endHours,
            minutes: endMins,
            seconds: endSecs
          })
          .format('YYYY-MM-DD HH:mm:ss')
          return program
        })
        return item
      })
    },
    // this is for changing the original data from an external component
    setOptions (configObj) {
      for (let i in configObj) {
        this[i] = configObj[i]
      }
    },
    selectDay (date) {
      this.selectedDate = moment(date)
      this.startTime = moment(date).startOf('day').add(6, 'hours').add(0, 'minutes')
      this.loadData(date)
      setTimeout(() => this.$refs.epgDays.centerOnSelectedDay(date), 200)
    },
    // load the data for the specific date
    loadData (date) {
      const self = this

      this.showLoader = true

      axios({
        method: 'get',
        url: this.getEpgUrl,
        params: {
          startDate: date.format('DD/MM/YYYY'),
          endDate: date.format('DD/MM/YYYY')
        }
      })
      // axios.get('/external/data/data.json')
      .then(function (response) {
        let channelsData = response.data.schedule.channels
        // ToDo: Remove this, it's just until we get the correct endpoints
        channelsData = self.fakeDataGeneration(channelsData)
        // self.channels = []
        self.channels = channelsData.map((item) => {
          return {
            id: item.id,
            name: item.name,
            image: item.image,
            _isSelected: false,
            slots: self._prepareSlots(item.programs)
          }
        })

        // self.goto(self.startTime)
        if (self.selectedDate.isSame(moment(), 'day')) {
          self.now()
        }

        setTimeout(() => { self.showLoader = false }, self.showLoaderInterval)
      })
      .catch(() => {
        setTimeout(() => { self.showLoader = false }, self.showLoaderInterval)
      })
    },
    resizeHandler () {
      const self = this
      self.nowOffset = self._getOffsetByTime(self.currentTime) + 'px'
      self.timelineWidth = self.$refs.timeline.offsetWidth
      this.$refs.epgDays.recalculate(this.today_label[this.lang])
    }
  }
}
</script>
