
*
{
    box-sizing: border-box
}

.epg
{
    position: relative;
}

.epg__timeline-wrapper
{
    min-height: 300px;
    margin: 0 auto;
    margin-left: 80px;
    overflow: hidden;
    border: 1px solid #DDD;
}

.epg__timeline
{
    -ms-content-zooming: none;
    -ms-touch-select: none;
    touch-action: pan-y;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.epg__btn
{
    position: absolute;
    background: #999;
    padding: 0 10px;
    z-index: 10;
}

.epg__btn--right
{
    right: 0;
}

.epg__btn--left
{
    left: 0;
}

.epg__timeslots
{
    display: block;
    white-space: nowrap;
    position: relative;
}

.epg__channel-row
{
    height: 80px;
}

.epg__channel-row--expanded
{
    height: 240px;
}

.epg__timeslot
{
    display: inline-block;
    background-color: #DDD;
    height: 80px;
    box-shadow: 2px 2px 0 #FFF inset;
    vertical-align: top;
    /* margin: 4px 2px 0 2px */
}

.epg__timeslot--selected {
    background-color: #FFF;
}

.epg__times > .epg__timeslot
{
    margin: 0;
    padding-left: 10px;
    max-height: 20px;
    border-left: 2px solid #FFF;
    box-shadow: none;
}

.epg__now-time-label
{
    position: absolute;
    background: orange;
    width: 2px;
    top: 22px;
    bottom: 0;
    left: 0;
    z-index: 1;
    color: #FFF;
    text-align: center;
    margin-left: 0;
}

.epg__now-time-cover
{
    content: '';
    position: absolute;
    bottom: 0;
    top: 22px;
    left: 0;
    z-index: 1;
    pointer-events: none;
    background: rgba(255, 0, 0, .2);
}

.epg__now-time-label::after
{
    content: '';
    position: absolute;
    top: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid orange;
    left: 50%;
    margin-left: -10px;
}

.epg__timeslot.epg__slot-event:not(.is-empty)
{
    cursor: pointer;
}

.epg__timeslot .epg__now-line
{
    position: absolute;
    top: 2px;
    bottom: 0;
    left: 2px;
    border-right: 2px solid #60656C;
}

.epg__slot-basic-info
{
    padding: 10px 15px;
    width: 100%;
    height: 100%;
}

.epg__inner
{
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: -webkit-transform 0.3s ease-in;
    -moz-transition: -moz-transform 0.3s ease-in;
    -o-transition: -o-transform 0.3s ease-in;
    transition: transform 0.3s ease-in, -webkit-transform 0.3s cubic-bezier(0.32, 0.14, 0, 1.1);

}

.epg__inner--notransition
{
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
}

.epg__chevron
{
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
    width: 24px;
    height: 24px;
}

.is-empty
{
    background-color: #E9E9E9;
}

.no-padding
{

    padding: 0 !important;
}

.loader__spinner-container
{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 0;
    margin-top: 0;
    text-align: center;
}

.loader__spinner
{
    border-radius: 100%;
    border: 4px solid orangered;
    border-bottom-color: transparent;
    height: 50px;
    width: 50px;
    background: 0 0 !important;
    display: inline-block;
    animation: rotate .7s 0s linear infinite;
}

.fade-enter-active, .fade-leave-active
{
    transition: opacity .2s linear;
}

.fade-enter, .fade-leave-to
{
    opacity: 0;
}

.fade--area-enter-active, .fade--area-leave-active
{
    transition: opacity .3s linear 0.2s;
}

.fade--area-enter, .fade--area-leave-to
{
    opacity: 0;
}

@keyframes rotate
{
    0%
    {

        transform: rotate(0);
    }
    50%
    {
        transform: rotate(180deg);
    }

    100%
    {
        transform: rotate(360deg);
    }
}
